* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 236, 236);
}

.app {
  width: 100%;
  background-color: #000;
  padding: 10px;
  min-height: 100vh;
  max-width: 800px;
}

.app-cont {
  max-width: 800px;
}

h1 {
  text-align: center;
  font-size: 1.4em;
  padding: 20px 0;
  background-color: rgb(105, 4, 4);
  color: rgb(243, 243, 243);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button-cont {
  text-align: center;
  margin: 8px 0;
  position: relative;
}

.bg-image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.4;
} 

.add-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: rgb(243, 243, 243);
}

.add-cont h4 {
  padding-bottom: 5px;
}

.add {
  color: rgb(243, 243, 243);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  height: 60px;
  width: 60px;
  transition: all 0.1s linear;
}

.table-stats-cont {
  display: flex;
  flex-direction: column;
}

.stats-cont {
  padding: 10px;
  margin-bottom: 8px;
  background-color: rgb(199, 199, 199);
  text-align: center;
}

.stats-cont-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.stat-item {
  display: grid;
  justify-content: center;
  place-items: center;
}

.stat-item h5 {
  padding-bottom: 5px;
}

.stat {
  background-color: rgb(255, 249, 249);
  color: rgb(153, 20, 20);
  border: 1px solid rgb(92, 92, 92);
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.84);
  display: grid;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 23px;
}

.club-selection {
  background-color: rgb(105, 4, 4);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px 0;
  margin-bottom: 8px;
}

.club-selection label h4 {
  display: inline;
}

.club-selection select {
  background-color: rgb(243, 243, 243);
  margin-left: 10px;
  height: 35px;
  width: 100px;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 5px;
}

.table {
  display: grid;
  grid-template-columns: 1.6fr 2.2fr 2.1fr 2.1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  background-image: repeating-linear-gradient(
    180deg,
    #ddd,
    #ddd 35px,
    #fff 0px,
    #fff 70px
  );
  padding-left: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table > * {
  height: 35px;
  display: grid;
  align-items: center;
}

.del-col {
  visibility: hidden;
}

.remove {
  background-color: transparent;
  height: 20px;
  width: 20px;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
}

.icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: #fff;
  line-height: 1.7;
}

.icon--green {
  background-color: rgb(0, 95, 0);
}

.icon--red {
  background-color: rgb(177, 0, 0);
}

.icon--black {
  background-color: black;
  color: #fff;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: grid;
  place-items: center;
  overflow-y: scroll;
}

.form-cont {
  position: relative;
  color: rgb(230, 230, 230);
  width: 90%;
  max-width: 600px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-image: linear-gradient(rgba(114, 0, 0, 0.7),rgba(66, 0, 0, 0.9)), url(/src/images/ball.jpg);
  background-position: center;
  background-size: cover;
}

.form-cont h2 {
  font-size: 1.3em;
  padding: 10px 0;
  margin-bottom: 15px;
  background-color: rgb(105, 4, 4);
  border-radius: 10px;
  color: #fff;
}

.close-btn-cont {
  position: absolute;
  top: 21px;
  right: 15px;
}

.close {
  cursor: pointer;
  transition: all 0.1s linear;
}

.form-group {
  padding-bottom: 15px;
  text-align: center;
}

.form-group label {
  font-size: 14px;
}

.form-control {
  height: 37px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
  width: 70%;
  max-width: 250px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 15px;
}

.form-control--small {
  width: 80px;
}

.submit-btn {
  color: #fff;
  background-color: rgb(102, 102, 102);
  border: 1px solid #fff;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: 60%;
  max-width: 200px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.1s all linear;
}

@media (min-width: 801px) {
  .app {
    border-radius: 10px;
    margin: 20px auto;
    padding: 15px;
    box-shadow: 0px 0px 18px -4px #000000;
  }
  h1 {
    font-size: 1.7em;
    letter-spacing: 1.2px;
  }
  .stats-cont {
    padding: 15px;
  }
  .stat-item h5 {
    font-size: 0.9em;
  }
  .table {
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  }
  .remove:hover {
    transform: scale(1.2);
  }
  .add-cont h4 {
    padding-bottom: 10px;
  }
  .add:hover {
    transform: scale(1.2);
  }
  .modal-bg {
    overflow-y: initial;
  }
  .submit-btn:hover {
    background-color: rgb(179, 179, 179);
    color: #000; 
  }
  .close:hover {
    color: rgb(153, 153, 153);
  }
}
